name: deployment

on:
    push:
        branches:
            - main
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v3
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push Docker image
              run: |
                  docker build -t ${{secrets.DOCKERHUB_USERNAME}}/todofrontend:${{github.sha}} -f dockerfile .
                  docker push ${{secrets.DOCKERHUB_USERNAME}}/todofrontend:${{github.sha}}
